BACKEND_URL=backendurl
FRONTEND_URL=frontendurl
NEXT_PUBLIC_FRONTEND_URL=publicfrontendurl
NEXT_PUBLIC_BACKEND_URL=publicbackendurl
NEXT_PUBLIC_SANITY_DATASET=getthisonsanitystudio
SANITY_API_READ_TOKEN=getthisonsanitystudio