BACKEND_URL=backend url
FRONTEND_URL=frontend url
NEXT_PUBLIC_FRONTEND_URL=public frontend url
NEXT_PUBLIC_BACKEND_URL=public backend url
NEXT_PUBLIC_SANITY_DATASET=get this on sanity server
SANITY_API_READ_TOKEN=get this on sanity server
NEXT_PUBLIC_SANITY_HOOK_SECRET=scretkey for triggering web hooks on sanity server to revalidate data on nextjs pages
DATABASE_URL=database url of mysql database on Planetscale
AUTH0_SECRET=A long secret value used to encrypt the session cookie
AUTH0_BASE_URL=The base URL of your application
AUTH0_ISSUER_BASE_URL=The URL of your Auth0 tenant domain
AUTH0_CLIENT_ID=Your Auth0 application's Client ID
AUTH0_CLIENT_SECRET=Your Auth0 application's Client Secret